einops
fastapi
gradio
gradio-client
huggingface-hub
imageio[ffmpeg]
moderngl
numpy
omegaconf
Pillow
python-multipart
rembg
torch
git+https://github.com/tatsy/torchmcubes.git
transformers
trimesh
uvicorn
xatlas
